<div class='topic-users'>
  <div class="inline">
    <a href="{{topic.creator.path}}" data-user-card="{{topic.creator.username}}" class="{{topic.creator.extras}}">
      {{avatar topic.creator imageSize="large"}}
      <span class="poster-name">{{topic.creator.username}}</span>
    </a>
  </div>
  {{#unless hideCategory}}
    {{#unless topic.isPinnedUncategorized}}
      <span class="topic-category">
        {{category-link topic.category}}
      </span>
    {{/unless}}
  {{/unless}}
</div>
