<div class='topic-users'>
  <div class="inline">
    {{#each topic.posters as |poster|}}
      <a href="{{poster.user.path}}" data-user-card="{{poster.user.username}}" class="{{poster.extras}}">
        {{avatar poster avatarTemplatePath="user.avatar_template" usernamePath="user.username" imageSize="large"}}
        <span class="poster-name">{{poster.user.username}}</span>
      </a>
    {{/each}}
  </div>
  {{#unless hideCategory}}
    {{#unless topic.isPinnedUncategorized}}
      <span class="topic-category">
        {{raw "list/category-column" category=topic.category}}
      </span>
    {{/unless}}
  {{/unless}}
</div>
