<div class="topic-title">
  {{#if tilesOrSocial}}
    {{raw "list/topic-users" topic=topic posterNames=posterNames}}
  {{/if}}

  <span class='link-top-line'>
    {{raw-plugin-outlet name="topic-list-before-status"}}
    {{raw "topic-status" topic=topic}}
    <a href="{{topic.url}}" class="title" data-topic-id="{{topic.id}}">{{topic.title}}</a>

    {{#if mobileView}}
      {{#if topic.unseen}}
        <span class="badge-notification new-topic"></span>
      {{/if}}
    {{else}}
      {{#if showTopicPostBadges}}
        {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.url}}
      {{/if}}
    {{/if}}

    {{#unless tilesOrSocial}}
      {{raw-plugin-outlet name="topic-list-after-title"}}
    {{/unless}}
  </span>
</div>
